{{- if not (get . "hpc") }}
.config/biowulf/**
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
.bash_profile
.bashrc
{{- else }}
.config/apps/**
.config/dooti/**
.config/sublime/**
.config/vscode/**
{{- end }}
