{{- $gitName := promptStringOnce . "git_name" "Git name" "" -}}
{{- $gitEmail := promptStringOnce . "git_email" "Git email" "" -}}
{{- $touchIDSudo := false -}}
{{- if eq .chezmoi.os "darwin" -}}
{{- $touchIDSudo = promptBoolOnce . "touch_id_sudo" "Enable Touch ID for sudo?" true -}}
{{- end -}}
{{- $hpc := false -}}
{{- if ne .chezmoi.os "darwin" -}}
{{- $hpc = promptBoolOnce . "hpc" "Use HPC settings?" false -}}
{{- end -}}
{{- $defaultPixiHome := printf "%s/.pixi" (env "HOME") -}}
{{- if $hpc -}}
{{- $defaultPixiHome = printf "/data/%s/.pixi" (env "USER") -}}
{{- end -}}
{{- if env "PIXI_HOME" -}}
{{- $defaultPixiHome = env "PIXI_HOME" -}}
{{- end -}}
{{- $pixiHome := promptStringOnce . "pixi_home" "PIXI_HOME" $defaultPixiHome -}}

mode = "symlink"
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
hpc = {{ $hpc }}
pixi_home = {{ $pixiHome | quote }}
touch_id_sudo = {{ $touchIDSudo }}

[data.git]
name = {{ $gitName | quote }}
email = {{ $gitEmail | quote }}
